[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-debug-toolbar = "*"
django-dotenv = "*"
mysqlclient = "==2.2.4"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.12"
